<h1 class="text-3xl">Precios del servicio</h1>

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel asperiores, quam fugiat saepe maiores dolorem reprehenderit animi sequi provident explicabo error libero nam dolorum minus quis corrupti reiciendis atque fuga?
    Molestiae quaerat consequuntur ratione neque? Sit ullam excepturi accusantium nemo quam officiis, maiores libero molestias aliquam ex exercitationem sint, veniam impedit rem neque in aliquid consequuntur omnis eum debitis repellendus!
    Incidunt beatae quia veniam sit. Incidunt iure delectus dolor dolorum, dolore quaerat officiis at deserunt veniam temporibus, in minima enim, natus ipsa omnis vitae sint consequatur corporis nisi accusamus aperiam!
  </p>
</section>
