<h1 class="text-3xl">Sobre la aplicación</h1>

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolor tempore in suscipit eveniet sequi soluta beatae? Laboriosam iusto quas eligendi non molestiae quisquam, necessitatibus nesciunt dignissimos asperiores nulla quaerat!
    Quae aliquam ratione impedit corrupti vel omnis, facilis veniam, voluptatibus dolores explicabo nemo commodi eum porro nesciunt, obcaecati neque corporis unde. Ducimus totam voluptates voluptatem reiciendis asperiores, ullam aspernatur id?
    Rerum ad iure est soluta voluptas, excepturi facilis quam corporis praesentium, quidem doloremque at, explicabo sit. Fugit atque officiis, placeat quidem, earum delectus dolore magnam eveniet veniam, rerum harum vel!
    Voluptatibus commodi quaerat tempora quis beatae molestiae nihil doloribus distinctio. Est, voluptatibus aliquam deleniti voluptate esse in earum, consequuntur aperiam natus numquam nihil fugiat facilis ullam! Eius explicabo rerum officiis.
  </p>
</section>
